#boutiqueContainer{
    background-color: #081b30;
    display: flex;
    align-items: center;
    justify-content: center;
}
#boutique{
    min-height: 200px;
    min-width: 600px;
    margin-top: 180px;
    margin-bottom: 180px; 
    width: 50vw;
    height: 70vh;
    overflow: auto;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #465464
}
#searchBar{
    width: 200px;
    margin-right: 50px;
}

table {
    background-image: linear-gradient(to right, white, rgb(175, 175, 175, 0.8));
    border-spacing: 25px;
    border-collapse: separate;
    margin-left: 30px;
}
th, td {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
td{
    width: 20%;
}

#checkoutBtn {
    bottom: 20px;
    position: absolute;
    color: white;
    border-radius: 25px;
    background-color: #136af8;
    padding: 10px 15px 10px 15px;
    border: 2px solid #136af8;
    border:3px solid #136af8;
}
#checkoutBtn:hover {
    color: black;
}
#checkoutBtn:active {
    color: white;
    border:3px solid #093781;
}

.addBtnBoutique {
    color: #22a314;
    text-shadow: 1px 1px gray;
}
.addBtnBoutique:hover {
    color: black;
}
#addBtnBoutique:active {
    color: white;
    border:3px solid #093781;
}

#costLabel {
    color:#C19E25;
    text-shadow: 1px 1px gray;
}

.box {
    margin: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
label {
    color:white;
    font-style: italic;
}


