#boutiqueContainer{
    background-color: #081b30;
    display: flex;
    justify-content: center;
}
#boutique{
    min-height: 200px;
    min-width: 20%;
    margin-top: 180px;
    margin-bottom: 180px; 
    width: 50vw;
    height: 70vh;
    overflow: auto;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #465464;
    display: flex;
}

#containerLeft{
    flex: 60%;
    display: flex;
    flex-direction: column;
}

#containerRight{
    flex: 40%;
    overflow:auto;
}

#imageContainer{
    flex: 100%;
    font-weight: bold;
}
#effetContainer{
    flex: 100%;
}
#titre{
    margin-left: 25%;
    margin-top: 2%;
}
#imageItem{
    height:200px;
    width:200px; 
    margin-left: 20%;
}
#Effet{
    flex: 100%;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
#info{
    flex: 100%;
}
img {
    max-width: 100px;
}