#boutiqueContainer{
    background-color: #081b30;
    display: flex;
    justify-content: center;
}
#boutique{
    min-height: 200px;
    min-width: 20%;
    margin-top: 180px;
    margin-bottom: 180px; 
    width: 50vw;
    height: 70vh;
    overflow: auto;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #465464;
    display: flex;
    flex-direction: row;
}

#containerLeft{
    flex: 50%;
    display: flex;
    flex-direction: column;
}

#containerRight{
    flex: 50%;
    overflow:auto;
}

#imageContainer{
    flex: 100%;
    font-weight: bold;
}
#effetContainer{
    flex: 100%;
}
#titre{
    margin-left: 25%;
    margin-top: 2%;
}
#imageItem{
    height:200px;
    width:200px; 
    margin-left: 20%;
}
#Effet{
    flex: 100%;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
#info{
    flex: 100%;
}
img {
    max-width: 100px;
}
#commentaireContainer{
    display: flex;
    flex-direction: row;
    display: block;
}
#alias{
    font-size: 24px;
    font-weight: bold;
    flex: 100%;
}
#rate{
    flex: 100%;
}
select{
    display: none;
}
.textBoxRating{
    border: 2px solid black;
    border-radius: 10px;
}


#addEvalForm{
    background-color: white;
}
.rating-css {
    color: #FFBD03;
}
.rating-css div {
    color: #ffe400;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}
.rating-css input {
    display: none;
}
.rating-css input + label {
    font-size: 26px;
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: #838383;
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}