#PanierContainer{
    height: 100vh;
    width: 100vw;
    background-color: #081b30;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Panier{
    position: relative;
    top:60px;
    min-height: 200px;
    height: 70vh;
    width: 33%;
    background-color: white;
    border-radius: 20px;
    border: 2px solid #465464
}
#checkoutBtn {
    bottom: 20px;
    right: 20px;
    position: absolute;
    color: white;
    border-radius: 25px;
    background-color: #136af8;
    padding: 10px 15px 10px 15px;
    border: 2px solid #136af8;
    border:3px solid #136af8;
}
#checkoutBtn:hover {
    color: black;
}
#checkoutBtn:active {
    color: white;
    border:3px solid #093781;
}
th, td {
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
table {
    margin-left: 30px;
}
.editBtnPanier {
    color: yellow;
    text-shadow: 1px 1px gray;
}
.removeBtnPanier {
    color: red;
    text-shadow: 1px 1px gray;
}
.editBtnPanier:hover, .removeBtnPanier:hover {
    color: black;
}
